body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Manrope' , monospace , sans-serif;
  overflow-x: hidden;
}

#nav-link {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative; /* Add relative positioning for the after pseudo-element */
}

#nav-link:after {
  display: block;
  content: '';
  width: 100%; /* Use 100% to apply the border to the whole div */
  border-bottom: solid 4px rgb(255, 255, 255);  
  transform: scaleX(0);  
  transition: transform 400ms ease-in-out;
  position: absolute; /* Position the border relative to the div */
  bottom: 0; 
  left: 0;
}

#nav-link:hover:after { 
  transform: scaleX(1); 
}

#nav-link.from-left:after {
  transform-origin: left;
}

#nav-link.from-right:after {
  transform-origin: right;
}

.home-main {
  width: 100%;          /* Set the width of the div */
  background-image: url('./assets/home-bg.jpg');  /* Set the background image */
  background-size: cover;   /* Ensures the image covers the entire div */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.name-home {
  color: #2a2a2a;
}

.mask-image {
  mask-image: linear-gradient(to right, transparent 0, black 128px, black calc(100% - 128px), transparent 100%);
}
